.background {
    background-color : rgb(216, 216, 216);
    text-align: center;   
    width: 1000px ;   
}

hr {
    border: 2px solid goldenrod;
    width: 1000px;    
}

.textcolor {
    color: goldenrod;

}

.font1{
    font-style: italic;
}

.pagefoot{
    background-color: white;
    text-align: center;
    width: 1000px;
}