.background {
    background-color: rgb(216, 216, 216);
    text-align: center;
}

hr {
    border: 2px solid goldenrod;
}

h2 {
    color: goldenrod;

}

.font1 {
    font-style: italic;
}

.pagefoot {
    background-color: white;
    text-align: center;
}

body {
    margin: auto;
    width: 50%;
}

.img2 {
    width: 200px;

}